// Sign In Page

.signin {
  max-width: 560px;
  margin: 0 auto;
  padding: 30px 20px;

  .text {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    font-family: "Lato-Bold";
    &__label {
      display: flex;
      flex-direction: column;
      padding: 15px 0 0 0;
    }

    &__recover {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      label {
        display: flex;
        flex-direction: row;
        font-family: "Lato-Bold";

        input {
          margin: 0 10px 0 0;
          font-family: "Lato-Bold";
        }
      }

      a {
        p {
          margin: 0;
        }
      }
    }
  }
}
body {
}
